<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pet's Cão - Vendas</title>
    <link rel="stylesheet" href="../../../css/photon.css">
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="window" id="app">
      <div id="loading"><img src="../../assets/logo_login.gif" alt="Loading logo"></div>
      <div class="window-content centralize" id="venda">
        <div class="corpo">
          <div id="topBar">
            <button type="button" id="store" @click="storeVenda()"><span class="icon icon-plus"></span>&nbsp;&nbsp;Criar novo</button>
            <a href="../homePage/index.html"><span class="icon icon-home"></span>&nbsp;&nbsp;Home</a>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Produtos</th>
                <th>Qtd.</th>
                <th>Valor total</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="vendas in vendas">
                <td><button id="infoBtn" type="button" @click="clienteInfo(vendas)"><span class="icon icon-info-circled"></span>&nbsp;&nbsp;Info.Cliente</button></td>
                <td>{{vendas.produto.replace(",", ", ")}}</td>
                <td>{{vendas.qtd.replace(",", ", ")}}</td>
                <td>{{vendas.valor.toLocaleString("pt-BR", { style: "currency", currency: "BRL" }) || none}}</td>
                <td><button id="edit" type="button" @click="updateVenda(vendas)"><span class="icon icon-pencil"></span>&nbsp;&nbsp;Editar</button></td>
                <td><button id="destroy" type="button" @click="destroyVenda(vendas)"><span class="icon icon-trash"></span>&nbsp;&nbsp;Deletar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="modal" v-if="errorModal">
          <div id="erroStore" class="wrap">
            <button id="fechar" @click="errorModal=false">Fechar</button><hr>
            <h4>Por favor, preencha todos os campos.</h4>
          </div>
        </div>
        <div id="modal" v-if="openModal">
          <div class="wrap">
            <form id="cadastro-produto" action="" class="pane-body">
              <h3 v-if="mode=='update'">Editar dados da venda</h3>
              <h3 v-if="mode=='store'">Adicionar Produto</h3>
              <div class="form-group">
                <select name="cliente" id="clienteSelect" v-model="venda.cliente" class="form-control">
                  <option value="" disabled>Selecione o cliente</option>
                  <option value="Cliente não cadastrado">Cliente não cadastrado</option>
                  <option :value="client.$loki" v-for="client in clientes">{{client.nome}}</option>
                </select>
            </div>
              <div class="form-group">
                <ul>
                  <li disabled>Produtos no Estoque ( Clique para adicionar à lista ): </li>
                  <li v-for="produto in produtos" :value="produto.nomeProduto" @click="addProduto(produto.nomeProduto)">{{produto.nomeProduto}}</li>
                </ul>    
                <input type="text" class="form-control" id="ProdutosVendas" placeholder="Produtos ( Caso seja mais que um, separe os com vírgulas )" v-model="venda.produto">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="qtd" placeholder="Qtd. ( Coloque a qtd de cada produto na sequência do campo acima )" v-model="venda.qtd" maxlength="15" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Valor total ( Preencha apenas em caso de descontos. ) " id="Valortotal" v-model="venda.valor" required>
              </div>
              <button type="button" id="salvar" @click="vendaStoreOrUpdate()">Salvar</button>
              <button type="button" id="cancelar" @click="closeModal()">Cancelar</button>
            </form>
          </div>
        </div>
        <div id="modal" v-if="infoClientModal">
            <div class="wrap">
             <button id="fechar" type="button" @click="infoClientModal = false">Fechar</button>
              <hr>
              <h4 v-if="!existsClient">Este cliente foi removido.</h4> 
              <div id="info" v-if="existsClient">
                <span><strong>Nome:</strong> 
                  <br>{{client.nome}}</span><br>
                <span><strong>E-mail:</strong>  
                  <br>{{client.email}}</span><br>
                <span><strong>CPF:</strong>  
                  <br><input type="text" :value="client.cpf" id="text" readonly><button id="copy" @click="copyText()" title="Copiar CPF"><span class="icon icon-doc-text"></span></button></span><br>
                <span><strong>Telefone:</strong> 
                  <br>{{client.telefone}}</span><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <script src="app-vendas.js"></script>
  </body>
</html>

