<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Agendamentos</title>
    <link rel="stylesheet" href="../../../css/photon.css">
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="window" id="app">
      <div id="loading"><img src="../../assets/logo_login.gif" alt="Loading logo"></div>
      <div id="agenda" class="window-content centralize">
        <div class="corpo">
          <div id="topBar">
            <button type="button" id="store" @click="storeAgenda()">Criar novo</button>
            <a href="../homePage/index.html">Home</a>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Animal</th>
                <th>Dia e hora</th>
                <th>Tipo de serviço</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="schedule in agendamentos">
                <td><button id="infoBtn" type="button" @click="clienteInfo(schedule)">Info.Cliente</button></td>
                <td><button id="infoBtn" type="button" @click="animalInfo(schedule)">Info.Animal</button></td>
                <td>{{new Date(schedule.datetime.split("T")[0]).toLocaleDateString("pt-BR", {timeZone: "UTC"})}} às {{schedule.datetime.split("T")[1]}}</td>
                <td>{{schedule.tipoDeServico}}</td>
                <td><button id="edit" type="button" @click="updateAgenda(schedule)">Editar</button></td>
                <td><button id="destroy" type="button" @click="destroyAgenda(schedule)">Deletar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="modal" v-if="errorModal">
          <div id="erroStore" class="wrap">
            <button id="fechar" @click="errorModal=false">Fechar</button><hr>
            <h4>Por favor, preencha todos os campos.</h4>
          </div>
        </div>
        <div id="modal" v-if="openModal">
          <div class="wrap">
            <form id="cadastro-produto" action="" class="pane-body">
                <h3 v-if="mode=='update'">Editar dados do agendamento</h3>
                <h3 v-if="mode=='store'">Adicionar Agedamento</h3>
                <div class="form-group">
                    <select name="cliente" id="cliente" v-model="agenda.cliente" class="form-control">
                        <option value="" disabled>Selecione o cliente</option>
                        <option :value="client.$loki" v-for="client in clientes">{{client.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="animal" id="animal" v-model="agenda.animal" class="form-control">
                        <option value="" disabled>Selecione o animal</option>
                        <option :value="ani.$loki" v-for="ani in animais">{{ani.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" id="datahora" placeholder="Dia e hora" v-model="agenda.datetime" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="tipoDeServico" placeholder="Tipo de serviço" v-model="agenda.tipoDeServico" required>
                </div>
                <button type="button" id="salvar" class="btn btn-positive" @click="agendaStoreOrUpdate()">Salvar</button>
                <button type="button" id="cancelar" class="btn btn-negative" @click="closeModal()">Cancelar</button>
            </form>
          </div>
        </div>
        <div id="modal" v-if="infoAnimalModal">
          <div class="wrap">
              <button id="fechar" type="button" @click="infoAnimalModal = false">Fechar</button>
              <hr>
              <h4 v-if="!existsAnimal">Este animal foi removido.</h4>
            <div id="info" v-if="existsAnimal">
                <span><strong>Nome:</strong> 
                <br>{{animal.nome}}</span><br>
                <span><strong>Tipo:</strong>  
                <br>{{animal.tipo}}</span><br>
                <span><strong>Raça:</strong>  
                <br>{{animal.raca}}</span><br>
                <span><strong>Dono:</strong>
                <br>{{animal.dono}}</span><br>
            </div>
          </div>
        </div>
        <div id="modal" v-if="infoClientModal">
            <div class="wrap">
             <button id="fechar" type="button" @click="infoClientModal = false">Fechar</button>
              <hr>
              <h4 v-if="!existsClient">Este cliente foi removido.</h4> 
              <div id="info" v-if="existsClient">
                  <span><strong>Nome:</strong> 
                      <br>{{client.nome}}</span><br>
                    <span><strong>E-mail:</strong>  
                      <br>{{client.email}}</span><br>
                    <span><strong>CPF:</strong>  
                      <br><input type="text" :value="client.cpf" id="text" readonly><button id="copy" @click="copyText()" title="Copiar CPF"><span class="icon icon-doc-text"></span></button></span><br>
                    <span><strong>Telefone:</strong> 
                      <br>{{client.telefone}}</span><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <script src="app-agenda.js"></script>
  </body>
</html>

