<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Estoque</title>
    <link rel="stylesheet" href="../../../css/photon.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="window" id="app">
      <div id="loading"><img src="../../assets/logo_login.gif" alt="Loading logo"></div>
      <div class="window-content centralize">
        <div class="corpo">
          <div id="topBar">
            <button type="button" id="store" @click="storeEstoque()">Criar novo</button>
            <a href="../homePage/index.html">Home</a>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome do Produto</th>
                <th>Valor Unit.</th>
                <th>Qtd.</th>
                <th>Validade</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="est in estoqueAtivo">
                <td>{{est.nomeProduto}}</td>
                <td>{{Number(est.valorUnit).toLocaleString("pt-BR", {style: "currency", currency: "BRL"})}}</td>
                <td>{{est.qtd}}</td>
                <td>{{est.validade}}</td>
                <td><button id="edit" type="button" @click="updateEstoque(est)">Editar</button></td>
                <td><button id="destroy" type="button" @click="destroyEstoque(est)">Deletar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="modal" v-if="errorModal">
          <div id="erroStore" class="wrap">
            <button id="fechar" @click="errorModal=false">Fechar</button><hr>
            <h4>Por favor, preencha todos os campos.</h4>
          </div>
        </div>
        <div id="modal" v-if="openModal">
          <div class="wrap">
            <form id="cadastro-produto" action="" class="pane-body">
                <h3 v-if="mode=='update'">Editar dados do estoque</h3>
                <h3 v-if="mode=='store'">Adicionar Produto</h3>
                <div class="form-group">
                <input type="text" class="form-control" id="nomeProduto" placeholder="Nome do Produto" v-model="estoque.nomeProduto" required>
                </div>
                <div class="form-group">
                <input type="text" class="form-control" id="Valor" placeholder="Valor unitário" v-model="estoque.valorUnit" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="qtd" placeholder="Qtd." v-model="estoque.qtd" required>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" id="Validade" v-model="estoque.validade" required>
                </div>
                <button type="button" id="salvar" class="btn btn-positive" @click="estoqueStoreOrUpdate()">Salvar</button>
                <button type="button" id="cancelar" class="btn btn-negative" @click="closeModal()">Cancelar</button>
            </form>
          </div>
        </div>
      </div>
        <!-- <footer class="toolbar toolbar-footer">
            <div class="toolbar-actions">
              <button class="btn btn-default">
                Cancel
              </button>
          
              <button class="btn btn-primary pull-right">
                Save
              </button>
            </div>
          </footer> -->
      </div>
    </div>
    <script src="app-estoque.js"></script>
  </body>
</html>

