* {
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
}
.centralize {
    background: #3C8AD5;
    justify-content: top;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
}
th, td{
    font-size: 15px;
    overflow: hidden;
}

div#topBar {
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    }
    div#topBar a{
        background: rgb(150, 150, 150);
        width: 60px;
        text-decoration: none;
        text-align: center;
        padding:3px 5px;
        color: white;
        border-radius: 4px;
        margin-left: 5px;
        cursor: pointer;

        transition: .3s;
    }
    div#topBar a:hover {
        background: rgb(116, 116, 116);
        color: rgb(194, 189, 189);
    }
    div#topBar input#searchBar{
        width: 250px;
        height: 30px;
        border: 2px solid #dbdbdb;
        padding: 5px;
        border-radius: 4px;
        cursor: text;
    }

.table-striped tr:nth-child(even) {
    background-color: rgb(215, 233, 250)
}
.corpo {
    width: 90%;
    min-height: 90%;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-top: 3px;
    overflow-y: hidden;
    overflow-x: scroll;
}

button#infoBtn {
    background: hsl(0, 0%, 39%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s;
}

button#infoBtn:hover{
    background: hsl(0, 0%, 28%);
    color: rgb(196, 191, 191);
}

button#store {
    background: hsl(123, 59%, 58%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s;
}

button#store:hover {
    background: hsl(123, 44%, 51%);
    color: rgb(185, 245, 210);
}

button#edit {
    background: hsl(212, 100%, 64%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s;
}

button#edit:hover {
    background: hsl(212, 70%, 55%);
    color: rgb(185, 213, 245);
}

button#destroy {
    background: hsl(0, 100%, 64%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s;
}

button#destroy:hover {
    background: hsl(0, 66%, 53%);
    color: rgb(250, 209, 209);
}

#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0,0,0, .7);
    z-index: 9000;
}

#modal .wrap {
    font-size: 15px;
    width: 60%;
    min-height: 30%;
    margin-left: 20%;
    margin-top: 10%;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1;
    }
}

#modal .wrap input {
    cursor: text;
}

#info {
    padding: 20px 40px;
    font-size: 18px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
}

button#fechar {
    margin-top: 3px;
    background: hsl(0, 100%, 64%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s
}

button#fechar:hover {
    background: hsl(0, 65%, 54%);
    color: rgb(248, 213, 213);
}


#loading{
    padding-top: 20%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
    opacity: 1;
    transition: 0.5s;
    z-index: 10000;;
    visibility: visible;
    text-align: center;
}
#loading.hidden{
    opacity: 0;
    visibility: hidden;
}

div#loading img{
    width: 128px;
    height: 128px;
}

#modal #erroStore{
    min-height: 20%;
}

@media (min-width: 1380px), (min-height: 720px){
    #modal #erroStore{
        min-height: 10% !important;
    }
}