<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pet's Cão - Financeiro</title>
    <link rel="stylesheet" href="../../../css/photon.css">
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="../../../node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="window" id="app">
      <div id="loading"><img src="../../assets/logo_login.gif" alt="Loading logo"></div>
      <div id="financeiro" class="window-content centralize">
        <div class="corpo">
          <div id="topBar">
            <button type="button" id="store" @click="storeFinanceiro()">Criar novo</button>
            <a href="../homePage/index.html">Home</a>
            <button id="relatorio" @click="printReport()">Imprimir relatório</button>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Valor Serviço</th>
                <th>Gastos Pet</th>
                <th>Gastos de local</th>
                <th>data</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="fin in financeirodata">
                <td>{{Number(fin.valorServico).toLocaleString("pt-BR",{style: "currency", currency: "BRL"})}}</td>
                <td>{{Number(fin.gastosPet).toLocaleString("pt-BR",{style: "currency", currency: "BRL"})}}</td>
                <td>{{Number(fin.gastosLocal).toLocaleString("pt-BR",{style: "currency", currency: "BRL"})}}</td>
                <td>{{new Date(fin.data).toLocaleDateString("pt-BR", {timeZone: "UTC"})}}</td>
                <td><button id="edit" type="button" @click="updateFinanceiro(fin)">Editar</button></td>
                <td><button id="destroy" type="button" @click="destroyFinanceiro(fin)">Deletar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="modal" v-if="errorModal">
          <div id="erroStore" class="wrap">
            <button id="fechar" @click="errorModal=false">Fechar</button><hr>
            <h4>Por favor, preencha todos os campos.</h4>
          </div>
        </div>
        <div id="modal" v-if="openModal">
          <div class="wrap">
            <form id="cadastro-produto" action="" class="pane-body">
              <h3 v-if="mode=='update'">Editar dados</h3>
              <h3 v-if="mode=='store'">Adicionar novo</h3>
              <div class="form-group">
                <input type="text" class="form-control" id="valorServico" placeholder="Valor de Serviço" v-model="financeiro.valorServico" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="gastosPet" placeholder="Gastos Pet" v-model="financeiro.gastosPet" required>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="valorFixo" placeholder="Gastos local" v-model="financeiro.gastosLocal" required>
              </div>
              <div class="form-group">
                  <input type="date" class="form-control" id="data" v-model="financeiro.data" required>
              </div>
              <button type="button" id="salvar" class="btn btn-positive" @click="financeiroStoreOrUpdate()">Salvar</button>
              <button type="button" id="cancelar" class="btn btn-negative" @click="closeModal()">Cancelar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="app-financeiro.js"></script>
  </body>
</html>

