<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pet's Cão - Funcionários</title>
    <link rel="stylesheet" href="../../../css/photon.css">
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
  </head>
  <body>
    <div class="window" id="app">
      <div id="loading"><img src="../../assets/logo_login.gif" alt="Loading logo"></div>
      <div id="funcionario" class="window-content centralize">
        <div class="corpo">
          <div id="topBar">
            <button type="button" id="store" @click="storeFun()"><span class="icon icon-plus"></span>&nbsp;&nbsp;Criar novo</button>
            <a href="../homePage/index.html"><span class="icon icon-home"></span>&nbsp;&nbsp;Home</a>
            <form>
              <input class="form-control" type="text" name="searchBar" id="searchBar" placeholder="Pesquisar pelo Nm.Usuario" v-model="search">
              <button type="button" id="btn-search" @click="searchFun()"><span class="icon icon-search"></span></button>
            </form>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Nm.Usuário</th>
                <th>Senha</th>
                <th>Cargo</th>
                <th>Nv.Acesso</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="fun in funcionarios">
                <td>{{fun.nome}}</td>
                <td>{{fun.nomeDeUsuario}}</td>
                <td>{{fun.senha}}</td>
                <td>{{fun.cargo}}</td>
                <td>{{fun.nivelDeAcesso}}</td>
                <td><button id="edit" type="button" @click="updateFun(fun)"><span class="icon icon-pencil"></span>&nbsp;&nbsp;Editar</button></td>
                <td><button id="destroy" type="button" @click="destroyFun(fun)"><span class="icon icon-trash"></span>&nbsp;&nbsp;Deletar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="modal" v-if="errorModal">
          <div id="erroStore" class="wrap">
            <button id="fechar" @click="errorModal=false">Fechar</button><hr>
            <h4>Por favor, preencha todos os campos.</h4>
          </div>
        </div>
        <div id="modal" v-if="openModal">
        <div class="wrap">
            <form action="" class="pane-body">
                <h3 v-if="mode=='update'">Editar dados do funcionário</h3>
                <h3 v-if="mode=='store'">Adicionar Funcionário</h3>
                <div class="form-group">
                  <input type="text" class="form-control" id="nome" placeholder="Nome" v-model="funcionario.nome" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="nomeDeUsuario" placeholder="Nome de usuário" v-model="funcionario.nomeDeUsuario" maxlength="15" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="senha" placeholder="Senha" v-model="funcionario.senha" maxlength="25" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="cargo" placeholder="Cargo" v-model="funcionario.cargo" maxlength="25" required>
                </div>
                <div class="form-group">
                    <select name="access" id="access" v-model="funcionario.nivelDeAcesso" class="form-control">
                      <option value="" disabled>Selecione o nível de acesso</option>
                      <option value="Padrão">Usuário Padrão</option>
                      <option value="Administrador">Usuário Administrador</option>
                    </select>
                </div>
                <button type="button" id="salvar" @click="funStoreOrUpdate()">Salvar</button>
                <button type="button" id="cancelar" @click="closeModal()">Cancelar</button>
            </form>
          </div>
        </div>
      </div>
      <div id="modal"  v-if="searchModal">
          <div id="search-modal">
            <button id="close" @click="searchModal=false">Fechar</button>
            <div v-if="searchErr" id="err-msg"><hr> Nenhum resultado encontrado</div>
            <table class="table table-striped" v-if="!searchErr">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Nm.Usuario</th>
                  <th>Senha</th>
                  <th>Cargo</th>
                  <th>Nv.Acesso</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{searchResult.nome}}</td>
                  <td>{{searchResult.nomeDeUsuario}}</td>
                  <td>{{searchResult.senha}}</td>
                  <td>{{searchResult.cargo}}</td>
                  <td>{{searchResult.nivelDeAcesso}}</td>
                  <td><button id="edit" type="button" @click="updateFun(searchResult); searchModal = false"><span class="icon icon-pencil"></span>&nbsp;&nbsp;Editar</button></td>
                  <td><button id="destroy" type="button" @click="destroyFun(searchResult); searchModal = false"><span class="icon icon-trash"></span>&nbsp;&nbsp;Deletar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="app-funcionario.js"></script>
  </body>
</html>
