* {
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
}

.centralize {
    background: #707070;
    justify-content: top;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
}

.corpo {
    width: 90%;
    min-height: 90%;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-top: 3px;
    overflow-y: hidden;
    overflow-x: scroll;
}

th, td {
    font-size: 15px;
    
}

.table-striped tr:nth-child(even) {
    background-color: #d8d8d6;
}

button#store {
    background: hsl(123, 59%, 58%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s;
}

button#store:hover {
    background: hsl(123, 44%, 51%);
    color: rgb(185, 245, 210);
}

button#edit {
    background: hsl(212, 100%, 64%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s;
}

button#edit:hover {
    background: hsl(212, 70%, 55%);
    color: rgb(185, 213, 245);
}

button#destroy {
    background: hsl(0, 100%, 64%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    transition: .3s;
}

button#destroy:hover {
    background: hsl(0, 66%, 53%);
    color: rgb(250, 209, 209);
}

#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0,0,0, .7);
    z-index: 9000;
}

#modal .wrap {
    width: 60%;
    min-height: 30%;
    margin-left: 20%;
    margin-top: 10%;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
}

#modal .wrap input {
    cursor: text;
}

#loading{
    padding-top: 20%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
    opacity: 1;
    transition: 0.5s;
    z-index: 10000;;
    visibility: visible;
    text-align: center;
}
#loading.hidden{
    opacity: 0;
    visibility: hidden;
}
div#loading img{
    width: 128px;
    height: 128px;
}