<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Pet's Cão - Home</title>
    <link rel="stylesheet" href="../../../css/photon.css" />
    <link rel="stylesheet" href="style.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"
    ></script>
    <script
      type="text/javascript"
      src="../../../node_modules/vue/dist/vue.js"
    ></script>
  </head>
  <body>
    <div class="window" id="app">
      <div id="loading">
        <img src="../../assets/logo_login.gif" alt="Loading logo" />
      </div>
      <div id="header">
        <a href="../loginPage/index.html" id="signOut"
          ><img src="../../assets/logout.png" alt="Sair" /><span>Sair</span></a
        >
        <button id="pendentes">
          <img src="../../assets/agenda.svg" alt="Logo">
          Pedidos pendentes
        </button>
      </div>
      <div class="window-content centralize">
        <div id="bg-image"></div>
        <div class="box">
          <div id="menu">
            <a href="../clientes/index.html"
              ><div id="clientes">
                <img src="../../assets/cliente.svg" alt="Cliente" />
                <span>Clientes</span>
              </div></a
            >
            <a href="../animais/index.html"
              ><div id="animais">
                <img src="../../assets/animal.svg" alt="Animal" />
                <span>Animais</span>
              </div></a
            >
            <a href="../agendamentos/index.html"
              ><div id="agenda">
                <img src="../../assets/agenda.svg" alt="Agendamentos" />
                <span>Agendamentos</span>
              </div></a
            >
            <a href="../estoque/index.html" v-if="access=='Administrador'"
              ><div id="estoque">
                <img src="../../assets/estoque.svg" alt="Estoque" />
                <span>Estoque</span>
              </div></a
            >
            <a href="../financeiro/index.html" v-if="access=='Administrador'"
              ><div id="financeiro">
                <img src="../../assets/financeiro.svg" alt="Financeiro" />
                <span>Financeiro</span>
              </div></a
            >
            <a href="../servicos/index.html" v-if="access=='Administrador'"
              ><div id="servicos">
                <img src="../../assets/serviço.svg" alt="Serviços" />
                <span>Serviços</span>
              </div></a
            >
            <a href="../vendas/index.html" v-if="access=='Administrador'"
              ><div id="vendas">
                <img src="../../assets/vendas.svg" alt="Vendas" />
                <span>Vendas</span>
              </div></a
            >
            <a href="../funcionarios/index.html" v-if="access=='Administrador'"
              ><div id="funcionarios">
                <img src="../../assets/funcionario.svg" alt="Funcionario" />
                <span>Funcionários</span>
              </div>
            </a>
            <a
              href="../materialDeConsumo/index.html"
              v-if="access=='Administrador'"
              ><div id="material">
                <img
                  src="../../assets/material.svg"
                  alt="Material de consumo"
                />
                <span>Mat. de Consumo</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-container">
      <div class="modal">
        <ul>
          <li>teste</li>
        </ul>
      </div>
    </div> -->
    <script src="app.js"></script>
  </body>
</html>
